{% extends "base.html" %}

{% block content %}
  <div id="content" class="content-wrapper-normal markdown-body">
    <div class="hero-card-wrapper">
    <div class="hero-card-shadow"></div> <!-- fixed black box -->
    <div class="hero-card" id="floating-card">
      <div class="hero-text">
        <h2><span id="typed-title"></span></h2>
        <p><span id="typed-subtitle"></span></p>
      </div>
      <div class="hero-image">
        <img src="/img/assets/about_image.png" alt="Riccardo Di Girolamo">
      </div>
    </div>
  </div>

  {{ content | safe }}
</div>
{% endblock %}

{% block submenu %}
{# intentionally empty: no submenu on about page #}
{% endblock %}
